body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
}
/* Containers */

.container-wrapper--red {
    color: white;
}


.callout-container {
    height: 90vh;

    background: url('../images/climb_dark.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand > img {
    height: 40px;
    width: 40px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, .25);
}

.dropdown-menu a {
    color: #a7a7a7;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-top: -90px;

}

.jumbotron-header {
    line-height: 0.6;
}

.green-prd {
    font-size: 80px;
    color: green;
}

.jumbotron .lead {
    color: #a7a7a7;
    text-align: left;
    margin-top: 10px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers */

.about-bg {
    background-color: black;
}

.about-bg h2 {
    color: white;
}

.about-bg p {
    color: #a7a7a7;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.projects-bg {
    background: url('../images/climb_dark.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

.media-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.portfolio-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    color: white;
}

/* Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .media-img {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 120px
    }
  }